<div class="panel panel-default company-panel">
    <div class="panel-heading">
        <button type="button" class="close" aria-label="Close" ui-sref="home"><span aria-hidden="true">&times;</span></button>
        <h1 class="panel-title">{{company.name}}</h1>
    </div>
    <div class="panel-body">
        <div class="row company-panel-heading">
            <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="company-logo"><img ng-src="{{company.logoUrl}}" alt=""></div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-6 text-right">
                <div>
                    <samp class="company-funds">{{company.cash|currency:""}} §</samp>
                </div>
                <div>
                    <rating ng-model="company.reputation.rate" readonly="true"
                            state-on="'fa fa-star fa-2x'" state-off="'hidden'"
                            popover="{{company.reputation.comment}}" popover-title="Réputation"
                            popover-trigger="mouseenter" popover-placement="left"></rating>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <tabset>
                    <tab>
                        <tab-heading><span class="fa fa-newspaper-o"></span> Annonces</tab-heading>
                    </tab>
                    <tab>
                        <tab-heading><span class="fa fa-history"></span> Historique</tab-heading>
                    </tab>
                    <tab ng-show="roleAdmin||roleCommander">
                        <tab-heading><span class="fa fa-crosshairs"></span> Mission</tab-heading>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
